@model List<PostModel>

@{
	var UserId = ViewBag.UserId;
}

<h1>Welcome</h1>


<a asp-controller="User" asp-action="UserDashboard" asp-route-UserId="@UserId">
	View Your Account
</a>
<br />
<a asp-controller="Post" asp-action="Create" asp-route-UserId="@UserId">
	Add Post
</a>

@foreach(var post in Model)
{
	<p>@post.Content</p>
	<p>@post.Comments</p>
	<a asp-controller="Comment" asp-action="Create" asp-route-UserId="@post.Id">
		Add Post
	</a>

}

